
.embed-container { 
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

.demo-reel {
    background: var(--clr-light);
    padding: 5%;
}

/* size of the video */
@media (min-width: 600px) {
    .video-container {
        padding: 0 1.2em;
    }

}

@media (min-width:1440px) {
    .video-container {
        padding: 0 10%; 
    }
}